<!-- ----------#####---------- Footer (Section) starts here ----------#####---------- -->
    
    <footer class="container-fluid foot-wrap section-general">
        <div class="container">
            <div class="row" style="display: flex;align-items: center;">
                <!-- Payment method container -->
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="pay-container">
                        <h4 class="card-lg-txt card-lg-txt-foot" style="color: #eaeaea;">Payment Methods</h3>
                        <p class="normal-txt light-font">
                            FalconFX Trade accept payments from <span class="font-span"><img src="../public/image/foot/bitcoin.png" alt="" class="footer-icon"> Bitcoin</span>, 
                            <span  class="font-span"><img src="../public/image/foot/btc-cash.png" alt="" class="footer-icon"> Bitcoin-Cash</span>, <span  class="font-span">
                            <img src="../public/image/foot/ethereum.png" alt="" class="footer-icon"> Ethereum</span> and 
                            <span class="font-span"><img src="../public/image/foot/litecoin.png" alt="" class="footer-icon"> Litecoin</span> as Payment Methods.
                        </p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                    <div class="container">
                        <div class="row">
                            <div class="footer-info p-2 col-sm-12 col-md-12 col-lg-12">
                                <div class="footer-info-icon"><img src="../public/image/foot/telegram.png" alt="" class="img-fluid"></div>
                                <div class="footer-info-line"></div>
                                <div class="normal-txt info-foot-txt"><a href="https://t.me/FalconFX_Guidance" target="_blank" class="foot-link">Telegram Page</a></div>
                            </div>
                            <div class="footer-info col-sm-12 col-md-12 col-lg-12">
                                <div class="footer-info-icon"><img src="../public/image/foot/gmail.png" alt="" class="img-fluid"></div>
                                <div class="footer-info-line"></div>
                                <div class="normal-txt info-foot-txt"><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHvbGcNltKkjCZbmjZDbgrbknvLjhtTLsDzgRqKvwnntckddlpVcbvntCCXmldTBgmXbDGV" target="_blank" class="foot-link">GrayTradesOfficial@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-4 foot-bot">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="footer-info p-2 col-sm-12 col-md-12 col-lg-12">
                                <div class="footer-info-icon"><img src="../public/image/foot/telegram.png" alt="" class="img-fluid"></div>
                                <div class="footer-info-line"></div>
                                <div class="normal-txt info-foot-txt"><a href="https://t.me/markhutchinson_official" target="_blank" class="foot-link">Telegram Support</a></div>
                            </div>
                            <div class="row align-items-center">
                                <div class="footer-info p-2 col-sm-12 col-md-12 col-lg-12">
                                    <div class="copy-right-txt" style="margin: 0 auto;">© FalconFX Trade 2022. All rights reserved.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<!-- Closed ----------#####---------- -->