<!-- ----------#####---------- Navigation menu (Section) starts here ----------#####---------- -->
                
    <nav class="project-nav-menu fixed-top container-fluid">
        <div class="nav container fixed-top">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title" style="cursor: pointer;" onclick="document.location.href='/'">
                    FalconFx Trade
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
    
            <div class="nav-links">
                <ul>
                    <li class="nav-li-shift"><a style="color: #fff;" class="head-anc" href="/">Home</a></li>
                    <a href="/users/login" class="get-started-btn nav-btn-shift">Sign In</a>
                    <a href="/users/register" class="get-started-btn">Get Started</a>
                </ul>
            </div>
        </div>
    </nav>

<!-- Closed ----------#####---------- -->